@font-face {
	font-family: 'Museo700';
	src: url('../../assets/fonts/Museo700-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Museo300';
	src: url('../../assets/fonts/Museo300-Regular.woff2') format('woff2');
}

.appbar {
	padding: 0 10px 0 10px;
	margin-bottom: 1rem;
}

.toolbar {
	display: flex;
	position: relative;
	justify-content: center;
	min-height: 100px !important;
	padding: 10px 0 0 0 !important;
}

.wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}

@media (max-width: 600px) {
	.toolbar {
		min-height: 80px !important;
	}
}
