.root {
	position: absolute;
	right: 50px;
}

.backdrop {
	z-index: 5000 !important;
	background: rgba(0, 0, 0, 0.9) !important;
}

.container {
	max-width: 80vw;
	width: 500px;
}

.closeButton {
	position: absolute;
	top: 20px;
	right: 20px;
}
